<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scores.dao.StudentMapper">
    <resultMap id="TransferMap" type="com.scores.model.Student">
        <id property="account" column="account"/>
        <id property="balance" column="balance"/>
    </resultMap>

    <select id="getStudentsByClassId" parameterType="string">
        SELECT * FROM Student WHERE class_id = #{classId}
    </select>

</mapper>